html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  padding-left: 60px; /* account for the fixed nav */
}

* {
  box-sizing: border-box;
}

.content {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  padding: 30px;
}

/*#38B5E6*/
/*#00B74F*/
/*#FFB718*/
/*#4A4A4A*/